@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Arimo", sans-serif;
}

body img {
    max-width: 100%;
    height: auto;
}

body video {
    width: 100%;
    max-width: 300px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

body a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

body a:hover {
    color: #231f55;
}

body ul {
    list-style: none;
    padding-left: 0;
}

body h2 {
    font-size: clamp(2rem, 5vw, 2.5rem);
    font-weight: 800;
}

.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


/*--------------------- Home ---------------------*/


.home {
    background: url(/img-sys/services/bg-hero-ser-1.webp) no-repeat center/cover;
    height: 60vh;
    color: white;
}

.home .container {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}


/*--------------------- Navbar ---------------------*/

.navbar {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.navbar .container {
    padding-top: 0px;
    padding-bottom: 0px;
}

nav .navbar-nav a {
    font-size: 18px;
    color: white;
}

nav .navbar-nav a:hover {
    font-size: 18px;
    color: #62b6f1;
}

.offcanvas {
    color: white;
    background: #231f55;
}

.btn-close {
    filter: invert(1);
}


/*-- кнопка Burger --*/


nav .navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 22px;
    filter: contrast(200%);
}

nav .navbar-toggler:focus,
.btn-close:focus {
    outline: none;
    box-shadow: none;
}


/*--------------------- Hero ---------------------*/


.hero {
    min-height: 60vh;
}

h1 {
    font-weight: 900;
    font-size: clamp(1.5rem, 5vw, 3.5rem);
    margin-top: 2rem;
    margin-bottom: 0px;
}

.btn-hero {
    font-size: 23px;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    padding: 15px 30px;
}

.btn-hero:hover {
    color: white;
    background-color: #62b6f1;
    border-color: #62b6f1;
}


/*--------------------- Services ---------------------*/


.services {
    padding-top: 50px;
}

.services-title {
    margin-bottom: 50px;
}

.services .img-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.3s ease;
}

.services .img-block:hover img {
    width: 102%;
    height: 102%;
}


.services .img-block {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 2px 2px 4px gainsboro;
    height: 300px;
    position: relative;
}

.services .img-block::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(11, 11, 44, 1) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.8;
    transition: .3s;
}

.services .img-block:hover::after {
    opacity: 1;
}

.services .caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 180px;
    color: #e2e2e2;
    padding: 10px 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.services .caption h6 {
    font-size: 1.5rem;
    font-weight: 700;
    transition: 0.3s ease;
}

.services .img-block:hover .caption h6 {
    transform: translateY(-5px);
}

@media (max-width: 991px) {
    .img-fluid {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media (min-width: 991px) {
    .img-fluid {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }
}


/*--------------------- Icons ---------------------*/


.best-icons i {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #231f55;
}

.best-icons h4 {
    font-size: 1.6rem;
    font-weight: 800;
}


/*--------------------- About us ---------------------*/

.about-us {
    background: url(/img-sys/bg-about-us.webp) no-repeat center/cover;
    width: 100%;
    min-height: 500px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-us-text h2 {
    padding-bottom: 50px;
    color: #62b6f1;
}

.about-us-text {
    margin-left: auto;
}


/*--------------------- Clients ---------------------*/


.clients {
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow-x: hidden;
}

.clients h2 {
    margin-bottom: 5rem;
}

.clients .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(250px * 24);
}

.clients .slider-items {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    100% {
        transform: translateX(calc(-250px * 12));
    }
}


/*--------------------- Accordion ---------------------*/


.accordion {
    background-image: url(/img-sys/hero-bg.jpg);
}

.accordion-title {
    margin-bottom: 50px;
}

.accordion .accordion-button {
    --bs-accordion-bg: none;
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-focus-box-shadow: none;
    font-size: 19px;
    font-weight: 500;
}

.accordion .accordion-button:hover {
    color: #62b6f1;
}

.accordion .accordion-button.collapsed {
    border: 1px solid black;
}

.accordion .accordion-item:has(.accordion-button:not(.collapsed)) {
    border: 2px solid black;
    box-shadow: 4px 4px black;
}

.accordion .accordion-button:not(.collapsed) {
    box-shadow: none;
    color: #62b6f1;
}


/*--------------------- Form ---------------------*/


.form {
    background-image: url(/img-sys/hero-bg.jpg);
}

.form .btn-form {
    display: flex;
    justify-content: center;
    padding: 13px 30px;
    border: 1px solid #231f55;
    border-radius: 100px;
    width: 100%;
    margin-bottom: 40px;
    transition: 0.3s;
}

.form .btn-form:hover {
    background-color: #231f55;
    color: white;
}

.form .img-form {
    border-radius: 30px;
    margin-bottom: 40px;
}

.form .img-form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}


/*--------------------- Footer ---------------------*/


.footer .container {
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer {
    background-color: #231f55;
    color: white;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: #62b6f1;
}

.footer .footer-title {
    color: #62b6f1;
}

.footer-text {
    font-size: 13px;
}

.footer .bi-instagram:hover {
    color: #62b6f1;
}

.footer .bi-telegram:hover {
    color: #62b6f1;
}

.footer .bi-facebook:hover {
    color: #62b6f1;
}

.footer .bi-telephone-fill:hover {
    color: #62b6f1;
}


/*--------------------- GoTop ---------------------*/


.go_top {
    position: fixed;
    bottom: -60px;
    right: 40px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 999;
    transform: rotate(270deg);
    background: rgb(228, 228, 228);
}

.go_top:hover {
    background: #62b6f1;
    border: 0;
}

.go_top.active {
    bottom: 50px;
    transition: 0.2s linear;
}


/*------------------ Политика конфиденциальности ------------------*/


.breadcrumbs ul li {
    margin-right: 8px;
}

.breadcrumbs ul li a {
    display: flex;
    align-items: center;
    color: #777;
}

.breadcrumbs ul li a:hover {
    display: flex;
    align-items: center;
    color: black;
}

.breadcrumbs ul li a::after {
    content: '\f105';
    font-family: FontAwesome;
    font-size: 10px;
    margin-left: 8px;
}

.politics h5 {
    margin: 40px 0;
}

.politics .wp-block-table th,
.politics .wp-block-table td {
    border: 1px solid;
    padding: .5em;
}